.header {
  background-color: lightblue;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-img {
  height: 100px;
  width: 120px;
}
.button-login {
  border: 1px solid white;
  background-color: rgb(60, 201, 194);
  color: aliceblue;
  font-size: 25px;
  border-radius: 5px;
  width: 120px;
  height: 40px;
}
